@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

/* body {
  @apply font-display;
} */

.cloud {
  z-index: 3;
}
.cloud-left-top {
  position: absolute;
  background-image: url('../img/HeavyCloud.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  object-fit: cover;
  opacity: 5%;
  left: -58px;
  top: -40px;
  z-index: 2;
}

.cloud-left-botton {
  position: absolute;
  background-image: url('../img/HeavyCloud.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  object-fit: cover;
  opacity: 5%;
  left: -58px;
  bottom: 0px;
  z-index: 2;
}

.cloud-right-top {
  position: absolute;
  background-image: url('../img/HeavyCloud.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  object-fit: cover;
  opacity: 5%;
  right: -50px;
  top: -40px;
  z-index: 2;
}

.cloud-right-botton {
  position: absolute;
  background-image: url('../img/HeavyCloud.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  object-fit: cover;
  opacity: 5%;
  right: -17px;
  bottom: 0px;
  z-index: 2;
}

.root {
  min-height: 100vh;
  background-color: #100e1d;
}
